<div class="container-fluid" style="padding-top: 20px; padding-left: 20px;">
  <div class="row">
      <div class="col-4">
          <table class="table table-hover" style="width: 440px;">
              <thead>
                  <tr>
                      <th style="width: 50px;">#</th>
                      <th style="width: 230px;">Name</th>
                      <th style="width: 110px;">Channel</th>
                      <th>Seasons</th>
                  </tr>
              </thead>
              <tbody style="background-color: #f2f2f2;">
                <tr *ngFor="let s of series">
                  <td>
                    <dd>{{s.id}}</dd>
                  </td>
                  <td>
                    <dd>{{s.name}}</dd>
                  </td>
                  <td>
                    <dd>{{s.channel}}</dd>
                  </td>
                  <td>
                    <dd>{{s.seasons}}</dd>
                  </td>
                </tr>
              </tbody>
          </table>
          <div style="padding-left: 15px;"><p>Seasons average: {{avgSeasons}}</p></div>
      </div>
      <div class="col" id="infocard"></div>
  </div>
</div>
